// ------------------
// GENERAL SITE STYLES
// ------------------
$gutters: 15px;

$breakpoint-medium: 640px;
// Medium devices
@mixin medium {
  @media (min-width: #{$breakpoint-medium}) {
      @content;
  }
}

$font-serif: 'Cardo', serif;
$font-sans: 'Raleway', sans-serif;

body {
  background-color: $color-grey-lightest;
  font-family: $font-sans;
}

p {
  margin: .5rem 0;

  &.error {
    color: red;
  }
}
