// Could make this into a color map to establish color relationships/functions
$color-white: #fff;
$color-grey-lightest: #f5f5f5;
$color-black: #000;
// Card Types
$color-creature: #571d6f;
$color-action: #b20000;
$color-item: #3277cc;
$color-support: #0e5624;
$color-error: red;
