@import "assets/scss/colors";
@import "assets/scss/_site";
@import "assets/scss/card";
@import "assets/scss/gallery";

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-bottom: 0;

  @include medium {
    margin-bottom: 1rem;
  }

  &__title {
    font-family: $font-serif;
    text-align: center;
  }
}
