@import "assets/scss/_site";
@import "assets/scss/card";
@import "assets/scss/gallery";

// This stuff should stay
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-bottom: 0;

  @include medium {
    margin-bottom: 1rem;
  }

  &--title {
    font-family: $font-serif;
    text-align: center;
  }
}
